
@{
    ViewData["Title"] = "Admin Panel";
}

<!DOCTYPE html>
<style>
    .container {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }
</style>

<body>
<h1 class="text-center">Admin Panel</h1>
<div class="container">
    <a asp-controller="Admin" asp-action="Products" class="btn btn-primary">Products</a>
    <a asp-controller="Admin" asp-action="Users" class="btn btn-primary">Users</a>
    <a asp-controller="Admin" asp-action="Orders" class="btn btn-primary">Orders</a>
</div>
</body>